<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <div class="nav-bar"></div>

    <div id ="app">

        <div class="product">
           
            <div class="product-image">
                <img v-bind:src="image">
            </div>
           
            <div class="product-info">
       
                    <h1>{{ product }}</h1>
                    <p v-if= "inStock">In Stock</p>
                 <!-- Exercice 6 binding class with inStock value : -->
                    <p v-else :class="{outOfStock : !inStock}">Out Stock</p>
                <!--    SOLUTION : 
                     we created a new attribut outOfStock in css file (ie. style.css) and the value inStock to false
                     so, the css style take place on the <p> if the value inStock is false
                      -->
                    <ul>
                        <li v-for="detail in details">{{ detail }}</li>
                    </ul>

                <div class="color-box"
                     v-for=" v in variants" 
                     :key=" v.varianteId"
                     :style="{backgroundColor : v.varianteColor}"
                     @mouseover="updateImage(v.varianteImage)">
                </div>

 <!-- COMMENT THE BINDING CLASS (v-bin:class == :class) :
    use classe bind => :class="nameObject" or :class="{attribut : value}", set '{}' when we are an attribut + value. Can be css attribute 
    example : :class="{disabledButton : ! inStock} => disabledButton = css attribute (ie style.css) and inStock = value.
    we ask to Vue to set the current class with css attribut (button grey color) if the value InStock = false.
  -->
                <button v-on:click="addToCart"
                        :disabled="! inStock"
                        :class="{disabledButton : ! inStock}">Add to cart</button>
                <div class="cart">
                    <p>Cart ({{cart}})</p>
                </div>
            </div>
            
        </div>  
           
    </div>


<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src ="main.js"></script>

</body>
</html>