<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <div class="nav-bar"></div>

    <div id ="app">

        <div class="product">
           
            <div class="product-image">
                <img v-bind:src="image">
            </div>
           
            <div class="product-info">
                <h1>{{ product }}</h1>
                <!--challenge n°2 use v-bind with shorthand-->
                <a :href="link">Link-bind</a> <!-- /!\ IMPORTANT  == <a v-bind:href="link">Link-bind</a> -->
                <!-- another method to display element as boolean -->
                <p v-show="InStock">Show me in the Stock !</p>
                <p v-if="Inventory >10">In stock</p>
                <p v-else-if="Inventory <10 && Inventory >0">Out of Stock</p>
                <p v-else>No Stock</p>
                <p v-if="onSale"><span>On Sale !</span></p>
                <p v-else>No Sale</p>
            
        </div>
            
        </div>  
           
    </div>

<!-- development version, includes helpful console warnings -->
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src ="main.js"></script>

</body>
</html>
